@import "./variables";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~bootstrap/scss/bootstrap";
@import "./bootswatch";

body, #app {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

main, #map-measurements-page {
  width: 100%;
  height: 100% !important;
}

#map {
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('~/assets/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/** Measurements information **/

.suggestions {
  &__general-public, &__sensitive_groups {
    &__title {
      color: #868e96;
    }

    &__description {
      font-size: 1.1em;
    }
  }
}

.measurement {
  &__temperature, &__humidity, &__pm25-level {
    font-size: medium;
  }

  &__pm25-level {
    font-weight: bold;

    &--very_good {
      color: $indicator-custom-level-very_good;
    }

    &--good {
      color: $indicator-custom-level-good;
    }

    &--moderate {
      color: $indicator-custom-level-moderate;
    }

    &--bad {
      color: $indicator-custom-level-bad;
    }

    &--very_bad {
      color: $indicator-custom-level-very_bad;
    }
  }
}

.indicator {
  &--very_good {
    color: $indicator-custom-level-very_good;
  }

  &--good {
    color: $indicator-custom-level-good;
  }

  &--moderate {
    color: $indicator-custom-level-moderate;
  }

  &--bad {
    color: $indicator-custom-level-bad;
  }

  &--very_bad {
    color: $indicator-custom-level-very_bad;
  }
}

.mdc-fab {
  border-radius: 50% !important;
}
